.header{
    background-color: black;
    color:rgb(0, 0, 0)
}
.header:hover{
    background-color:teal;
    color:white;
}
#one{
    color:rgb(167, 64, 199);
}
#two{
    color:rgb(0, 80, 4);
}
    color:rgb(238, 130, 130);
}
#four,#five,#six{
    color:rgb(111, 0, 255);
}
.link{
    text-decoration:none;
    color:rgb(255, 0, 0);
    background-color:rgb(17, 219, 47);
    padding:10px;
    border-radius: 10px;
}
.link:hover{
    color:aliceblue(244,238,238);
    background-color: aliceblue(244,238,238);
}
